/* MAIN CSS */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

/* ROOT */
:root {
    --pri-color: ;
    --sec-color: ;
    --ter-color: ;

    --background-color: ;
    --icon-color: ;
}


* {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
}

/*
  _    _ ______          _____  ______ _____  
 | |  | |  ____|   /\   |  __ \|  ____|  __ \ 
 | |__| | |__     /  \  | |  | | |__  | |__) |
 |  __  |  __|   / /\ \ | |  | |  __| |  _  / 
 | |  | | |____ / ____ \| |__| | |____| | \ \ 
 |_|  |_|______/_/    \_\_____/|______|_|  \_\

*/

