/* Style CSS */
/* Proměnné */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    width: 60%;
    background-color: var(--sec-color);
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--pri-color);
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: left;
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

p {
    margin-top: .5rem;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: left;
}

.btn {
    font-size: 1rem;
    font-weight: 2rem;
    padding: .5rem .8rem;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    transition: .3s;
}

.btn2 {
    background-color: var(--pri-color);
    color: #fff;
    border: none;
}

.btn:hover {
    scale: 1.1;
}

.btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.text {
    font-weight: 200;
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 1.8rem;
        font-weight: 400;
        text-align: left;
    }
    
    h5 {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
    }
    
    h6 {
        font-size: 1rem;
        font-weight: 300;
        text-align: center;
    }

    section {
        width: 60%;
    }

    hr {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 450px) {

}
/* Main Page | Section 1 */
.mp-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
    width: 100%;
}

.mp-s1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
    margin-top: 2rem;
}

.mp-s1-btn {
    margin-top: 1rem;
}

.mp-s1-p1 {
    margin-top: 1rem;
    width: 250px;
}

@media screen and (min-width: 1000px) {
    .mp-s1 {
        flex-direction: row;
        gap: 10vw;
    }

    .mp-s1-p1 {
        width: 350px;
    }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 450px) {

}

/* Main Page | Section 2 */
.mp-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.mp-s2-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: .2rem;
}

.mp-s2-p2 {
    align-self: center;
    width: 250px;
    margin-top: 1rem;
}

.mp-s2-btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media screen and (min-width: 1000px) {
    .mp-s2 {
        flex-direction: row;
        margin-bottom: 5rem;
    }

    .mp-s2-p2 {
        width: 350px;
    }

    .mp-s2-container .text {
        width: 90%;
    }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 450px) {

}

/* Main Page | Section 3 */
.mp-s3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.mp-s3-container h3 {
    align-self: baseline;
    margin-bottom: 2rem;
}

.mp-s3-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.mp-s3-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--sec-color);
    border-radius: 10px;
    flex-direction: column;
    padding: 2rem;
    width: 200px;
    height: min-content;
    gap: .5rem;
}

.mp-s3-card h4{
    color: var(--pri-color);
    font-size: 1.5rem;
    font-weight: 500;
}

/* Main Page | Section 4 */
.mp-s4 {
    width: 100%;
    margin-top: 2rem;
}

.mp-s4-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pri-color);
    width: 100%;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mp-s4-countdown-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.mp-s4-hd, .mp-s4-time {
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.mp-s4-time {
    font-weight: 300;
}

/* Main Page | Section 5 */
.mp-s5 {
    margin-top: 2rem;
}

.mp-s5-container {
    width: 100%;
}

.mp-s5-container h3{
    margin-bottom: 2rem;
}

.mp-s5-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: .5rem;
    gap: 1rem;
}

.card-1 {
    background-image: url("/img/img/z1.png");
}

.card-2 {
    background-image: url("/img/img/z2.png");
}

.card-3 {
    background-image: url("/img/img/z3.png");
}

.card-4 {
    background-image: url("/img/img/z4.png");
}

.mp-s5-card {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.mp-s5-card-hd {
    font-size: 2rem;
    font-weight: 200;
    color: #fff;
    text-align: right;
    bottom: 0;
    margin-right: .2rem;
}

@media screen and (min-width: 1000px) {
    .mp-s5-cards {
        flex-direction: row;
    }

    .mp-s5-card {
        width: 200px;
        height: 300px;
    }
}

/* Vyzkoušet | Section 1 */
.v-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.v-s1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--pri-color);
    border-radius: 10px;
    padding: 1rem;
    gap: .5rem;

}

.v-s2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

input[type=text], input[type=email], input[type=number], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 100px;
}


#modal-btn{
    width: 100%;
    background-color: var(--pri-color);
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
}
  
#modal-btn:hover {
    scale: 1.01;
}

.form {
    padding: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 1rem;
    width: 80%;
    height: fit-content;
}

.modal-content h3 {
    font-size: 1.5rem;
    color: var(--pri-color);
}

.modal-content .text {
    margin-top: 2rem;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -.5rem;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .modal-content {
        width: 40%;
    }
}

/* Kontakt | Section 1 */
.k-s1 {
    margin-top: 2rem;
}

.k-s1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.k-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--sec-color);
    border-radius: 10px;
    padding: 1rem;
}

.k-card-text {
    font-size: 1.1rem;
}

.k-card h6 {
    text-align: left;
    margin-bottom: 1rem;
}

.k-photo {
    margin-top: 2rem;
    width: 250px;
    height: 250px;
    border-radius: 200px;
}